/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
}

.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

/* regole parte NAV : Filtri / research */
#filters{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid pink;
    padding: 50px 0;
}

#genres-select{
    margin: 10px 0;
}


/* regole parte MAIN : visualizzazione dischi */
main>ul{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    padding: 20px;
}

main>ul li{
    list-style-type: none;
    width: 20%;
    margin-bottom: 50px;
    text-align: center;
}

main>ul li>*{
    margin-bottom: 10px;
}